<link href='/assets/images/meta_icons/apple-touch-icon.png' rel='apple-touch-icon-precomposed'>
<link href='/assets/images/meta_icons/apple-touch-icon-57x57.png' rel='apple-touch-icon-precomposed' sizes='57x57'>
<link href='/assets/images/meta_icons/apple-touch-icon-72x72.png' rel='apple-touch-icon-precomposed' sizes='72x72'>
<link href='/assets/images/meta_icons/apple-touch-icon-114x114.png' rel='apple-touch-icon-precomposed' sizes='114x114'>
<link href='/assets/images/meta_icons/apple-touch-icon-144x144.png' rel='apple-touch-icon-precomposed' sizes='144x144'>
<!--[if lt IE 9]>
<script src="/assets/javascripts/html5shiv.js" type="text/javascript"></script>
<![endif]-->
<!-- / bootstrap [required files] -->
<link href="/assets/stylesheets/bootstrap/bootstrap.css" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/stylesheets/bootstrap/bootstrap-responsive.css" media="all" rel="stylesheet" type="text/css" />
<!-- / jquery ui -->
<link href="/assets/stylesheets/jquery_ui/jquery.ui-1.10.0.custom.css" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/stylesheets/jquery_ui/jquery.ui.1.10.0.ie.css" media="all" rel="stylesheet" type="text/css" />
<!-- / switch buttons -->
<link href="/assets/stylesheets/plugins/bootstrap_switch/bootstrap-switch.css" media="all" rel="stylesheet" type="text/css" />
<!-- / xeditable -->
<link href="/assets/stylesheets/plugins/xeditable/bootstrap-editable.css" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/stylesheets/plugins/common/bootstrap-wysihtml5.css" media="all" rel="stylesheet" type="text/css" />
<!-- / wysihtml5 (wysywig) -->
<link href="/assets/stylesheets/plugins/common/bootstrap-wysihtml5.css" media="all" rel="stylesheet" type="text/css" />
<!-- / jquery file upload -->
<link href="/assets/stylesheets/plugins/jquery_fileupload/jquery.fileupload-ui.css" media="all" rel="stylesheet" type="text/css" />
<!-- / full calendar -->
<link href="/assets/stylesheets/plugins/fullcalendar/fullcalendar.css" media="all" rel="stylesheet" type="text/css" />
<!-- / select2 -->
<link href="/assets/stylesheets/plugins/select2/select2.css" media="all" rel="stylesheet" type="text/css" />
<!-- / mention -->
<link href="/assets/stylesheets/plugins/mention/mention.css" media="all" rel="stylesheet" type="text/css" />
<!-- / tabdrop (responsive tabs) -->
<link href="/assets/stylesheets/plugins/tabdrop/tabdrop.css" media="all" rel="stylesheet" type="text/css" />
<!-- / jgrowl notifications -->
<link href="/assets/stylesheets/plugins/jgrowl/jquery.jgrowl.min.css" media="all" rel="stylesheet" type="text/css" />
<!-- / datatables -->
<link href="/assets/stylesheets/plugins/datatables/bootstrap-datatable.css" media="all" rel="stylesheet" type="text/css" />
<!-- / dynatrees (file trees) -->
<link href="/assets/stylesheets/plugins/dynatree/ui.dynatree.css" media="all" rel="stylesheet" type="text/css" />
<!-- / color picker -->
<link href="/assets/stylesheets/plugins/bootstrap_colorpicker/bootstrap-colorpicker.css" media="all" rel="stylesheet" type="text/css" />
<!-- / datetime picker -->
<link href="/assets/stylesheets/plugins/bootstrap_datetimepicker/bootstrap-datetimepicker.min.css" media="all" rel="stylesheet" type="text/css" />
<!-- / daterange picker) -->
<link href="/assets/stylesheets/plugins/bootstrap_daterangepicker/bootstrap-daterangepicker.css" media="all" rel="stylesheet" type="text/css" />
<!-- / flags (country flags) -->
<link href="/assets/stylesheets/plugins/flags/flags.css" media="all" rel="stylesheet" type="text/css" />
<!-- / slider nav (address book) -->
<link href="/assets/stylesheets/plugins/slider_nav/slidernav.css" media="all" rel="stylesheet" type="text/css" />
<!-- / fuelux (wizard) -->
<link href="/assets/stylesheets/plugins/fuelux/wizard.css" media="all" rel="stylesheet" type="text/css" />
<!-- / theme files [required files] -->
<link href="/assets/stylesheets/light-theme.css" media="all" id="color-settings-body-color" rel="stylesheet" type="text/css" />
<link href="/assets/stylesheets/theme-colors.css" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/stylesheets/demo.css" media="all" rel="stylesheet" type="text/css" />
<link href="{{ asset('js_dependencies/parsleyjs/src/parsley.css') }}" media="all" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css" />
{% block stylesheets %}{% endblock %}